:root {
  --myblue: #17234B;
  --myred: #AD1F24;
  --mygreen: #006600;
}

* {
  font-family: georgia;
}

a:link,
a:visited {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}

a:hover {
  color: var(--mygreen);
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 16px 0px 16px 0px;
}

header img {
  width: 80%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tablehl {
    background-size: cover;
    display: table;
    position: relative;
    table-layout: fixed;
    width: 100%;
}

.hl {
  border-top: 3px solid gray;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  
}

html {
  height: 100%;
}

nav {
  background-color: white;
  width: 100%;
  position: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: var(--mygreen);
  font-size: 20px;
}

#ntext{
  color: var(--mygreen);
  font-size: 20px;
  }

#ntext2 {
  color: var(--mygreen);
  font-size: 20px;
  }


#navbarDropdown2{
  background-color: var(--mygreen);
  color: white;
  }

nav a {
  font-weight: bold;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;

}

nav a:link {
  text-decoration: none;
}

p {
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;


}

h1 {
  color: var(--mygreen);
}

h3 {
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}

p.card-text {
  text-align: center;
}

p.gm-style-pbt {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


.btn {
  border-radius: 4px;
  color: white;
  background-color: green;
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.btn:hover {
  border: 2px solid green;
  color: green;
  background: white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contact {
  border: 2px var(--mygreen);
  text-align: center;
  width:80%;
}


.card {
  cursor: pointer;
}

.main {
  width:80%;
  margin-left: auto;
  margin-right: auto;
}

.modal {
  position: fixed;
  background-color: rgb(0,0,0,0.5);
}

.modal-dialog {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 90vw;
  height: 90vh;
}

.sidenav {
  height: 100%;
  width: 0; /*Change in main.js*/
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  color: var(--myred);
  background-color: white;
  overflow-x: hidden;
  padding-top: 110px;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 20px;
  text-decoration: none;
  color: var(--myblue);
  display: block;
  transition: 0.3s;
  cursor: pointer;
}

.sidenav a:hover {
  color: var(--myred);
}

.sidenav .closebtn {
  position: absolute;
  top: 55px;
  right: 15px;
  font-size: 30px;
  margin-left: 50px;
  cursor: pointer;
}

.sidenavbtn {
  position: fixed;
  font-size: 30px;
  cursor: pointer;
  color: var(--myblue);
  padding: 5px 10px 5px 10px;
}

.sidenavbtn:hover {
  color: var(--myred);
  cursor: pointer;
}
.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

}

.column {
  flex: 25%;
  max-width: 25%;

}

.column img {

  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
